@import '@/assets/styles/colors.sass'
#header
  background-color: $blue-matisse
  a
    padding: 10px
    color: $white
    font-weight: bold
    text-transform: uppercase
    cursor: pointer
    &.router-link-exact-active
      color: $blue-matisse
      background-color: #fff
